<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>


<div class="mt-4">
    <h3>Deleted courses</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Time create</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                {{#if deleted}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>Level</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-primary btn-restore" data-bs-id="{{this._id}}" onclick="event.preventDefault()">Restore</a>
                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-id="{{this._id}}" data-bs-target="#delete-course-modal">Delete</a>
                </td>
            </tr>
                {{/if}}
                        
            {{else}}
                
            <tr>
              <td colspan="5" class="text-center">
                You dont have any deleted courses.
                <a href="/user/stored/courses">Go to courses</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this course?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">   Yes   </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="post"></form>
<form name="restore-course-form" method="post"></form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  var courseId;
  var deleteForm = document.forms['delete-course-form']
  var restoreForm = document.forms['restore-course-form']
  var deleteCourseModal = document.getElementById('delete-course-modal')
  var restoreBtn = $(".btn-restore")

  deleteCourseModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      courseId = button.getAttribute('data-bs-id')
  })

  var btnDeleteCourse = document.querySelector('#btn-delete-course')
  
  btnDeleteCourse.onclick = function(){
    deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE'
    deleteForm.submit()
  }

  restoreBtn.click(function (e){
    e.preventDefault()
    
    var courseId = $(e.target).attr('data-bs-id')
    restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH'
    restoreForm.submit()
    
  })
</script>
